img.BgSocialPlatform(src="./images/SocialPlatformBg1.png" loading="lazy")
//- img.BgSocialPlatformNFT(src="./images/BgSocialPlatformNFT1.png" loading="lazy" width="854")
.sectionOne#home
    
    .sectionOne--img
        div
            img.sectionOne--img__bg(src="./images/BgSocialPlatformNFT1.png" loading="lazy" width='854' height='783')
            img.sectionOne--img__picture(src="./images/component1.png" loading="lazy" width="531")
    .sectionOne--info#timer
.sectionSecond#about
    
    .sectionSecond--info
        
        h3.sectionSecond--info__label.sectionSecondTitle_lang About
        p.sectionSecond--info__descriptor.sectionSecondText1_lang Welcome to the very first collection of the Portify NFT’s. With the great popularity of NFTs now and Portify releasing its SocialFi platform, a profile picture NFT is unmissable.
        p.sectionSecond--info__descriptor.sectionSecondText2_lang Byte-me’s are very social and easy-going characters that love to get to know each other. In this collection there are 500 Byte-me’s that contain 250 males and 250 females.
        p.sectionSecond--info__descriptor.sectionSecondText3_lang Every one of them is random generated and unique in their own way and some are of course rarer than others. For those who want to stand out on the platform or for those who just like collecting a unique and valuable piece of NFT art, the Byte-me NFTs are THE NFT for every soul. Join the circle!

    .sectionSecond--img
        div
            img.sectionSecond--img__bg(src="./images/BgSocialPlatformNFT2.png" loading="lazy" width='854' height='783')
            img.sectionSecond--img__picture(src="./images/component2.png" loading="lazy" width="531")
.sectionThird#utility
    .sectionThird--info
        h3.sectionThird--info__label.sectionTirdTitle_lang Utility
        p.sectionThird--info__descriptor.sectionTirdDescription_lang The NFT era we’re in right now has evolved to a space where an NFT is more than just a JPEG. It holds real value because of the things you can do, access, accomplish and earn with these NFTs. Here is a list of utility that will ensure your NFT to always hold value:
        ul.sectionThird--info__ul
            li.text-14M.sectionTirdListItem1_lang Always acces to all Portify Byte’s premium features (multi-wallet tracking, multi-chain tracking, etc.)
            li.text-14M.sectionTirdListItem2_lang Users will get special titles and stand out with their verified Byte-me NFT
            li.text-14M.sectionTirdListItem3_lang Always access to every Beta testing phase in the future regardless the amount of Portify tokens you hold
            li.text-14M.sectionTirdListItem4_lang Passive income: Depending on the rarity of your NFT it will be pegged to a certain amount of Portify ranging from minimum 25.000 $PFY to 150.000 $PFY. So, you can stake your NFT and earn passive income for that amount of Portify tokens (regardless the price of PFY) 
            li.text-14M.sectionTirdListItem5_lang Tip and get tipped on the platform with 0% commission 
            li.text-14M.sectionTirdListItem6_lang More to come with unlock of new features on the platform

img.SocialPlatformBg2(src='./images/SocialPlatformBg2.png' loading="lazy")

.sectionFourth#exploreCollection
    .sectionFourth--layout
        h3.sectionFourth--layout__header Explore collection
        .sectionFourth--layout__slider.glider-contain
            .sectionFourth--layout__slider--navigation 
                .sectionFourth--layout__slider--navigation__prev.glider-prev
                    img(src="./images/arrow.svg")
                .sectionFourth--layout__slider--navigation__next.glider-next
                    img(src="./images/arrow.svg")
            .sectionFourth--layout__slider--wrapper.glider
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft1.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft2.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft3.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft4.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft5.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft6.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft7.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft8.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft9.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
                .sectionFourth--layout__slider--wrapper__item
                    img.sectionFourth--layout__slider--wrapper__item--img(src="./images/nft/nft10.png" loading="lazy")
                    //- p.text-14M.sectionFourth--layout__slider--wrapper__item--label NFT Name
            .sectionFourth--layout__slider--dots.dots
.modal#modal
    .modal--wrapper 
        .modal--wrapper__content
            .modal--wrapper__content--header
                p.modal--wrapper__content--header__title Mint NFT collection     
                .modal--wrapper__content--header__close
                    img#close(src="./images/close.png")
            .modal--wrapper__content--quantity 
                form.modal--wrapper__content--quantity__form#formNftQuantity
                    p.modal--wrapper__content--quantity__form--title Quantity
                    .modal--wrapper__content--quantity__form--radio
                        label
                            .modal--wrapper__content--quantity__form--radio__item
                                input(type="radio" id="quantityChoice1" name="quantity" value="1").modal--wrapper__content--quantity__form--radio__item--input(checked)
                                p.modal--wrapper__content--quantity__form--radio__item--label 1
                        label
                            .modal--wrapper__content--quantity__form--radio__item
                                input(type="radio" id="quantityChoice2" name="quantity" value="2").modal--wrapper__content--quantity__form--radio__item--input
                                p.modal--wrapper__content--quantity__form--radio__item--label  2
                        label
                            .modal--wrapper__content--quantity__form--radio__item
                                input(type="radio" id="quantityChoice3" name="quantity" value="3").modal--wrapper__content--quantity__form--radio__item--input
                                p.modal--wrapper__content--quantity__form--radio__item--label  3
            .modal--wrapper__content--cost
                .modal--wrapper__content--cost__left 
                    p.modal--wrapper__content--cost__left--title.text-16M Available NFT's
                    p.modal--wrapper__content--cost__left--value.text-20M#totalSupply 24/500
                .modal--wrapper__content--cost__right
                    p.modal--wrapper__content--cost__right--title.text-16M Mint Cost
                    p.modal--wrapper__content--cost__right--value.text-20M#NFTPrice 0.1 ETH
            .modal--wrapper__content--button
                a.btn.btn--primary#btn-conne
                    span Mint Now

