.contactUs 
    .contactUs--container 
        .contactUs--container__content 
                h2 Join forces with Bitmaker
                button.contactUs
                    p Contact us
                img(src="./images/contactUs.png", alt="")
