mixin faq(bg, ...items)
    section.sectionFaq#faq
        if bg==true
            .sectionFaq--bg
        h3.sectionFaq--header FAQ
        .sectionFaq--container.accordion-container
            each item in items
                .sectionFaq--container__item.ac
                    .accordion-toggle.sectionFaq--container__item--header__label.ac-header 
                        h4.ac-trigger(class = `sectionFaqQuestionItem${item.index}`)=item.title
                    .ac-panel
                        p.sectionFaq--container__item--descriptor.ac-text(class = `sectionFaqAnswerItem${item.index}`)=item.text