.firstBlock
    .firstBlock--container 
        .firstBlock--container__text 
            h2 Seeing is believing, after all.
            p Test the software, experiment with different options, and see the results for yourself.
        .firstBlock--container__schedule
            .swiper.sliderCharts
                .swiper-wrapper 
                    div.swiper-slide
                        <canvas id="myChart"></canvas>
                    div.swiper-slide
                        <canvas id="myChart2"></canvas>
                    div.swiper-slide
                        <canvas id="myChart3"></canvas>
            .firstBlock--container__schedule--buttons 
                .firstBlock--container__schedule--buttons__bgButtons.btn1-slider
                    button.Mark-up
                        p Mark-up
                .firstBlock--container__schedule--buttons__bgButtons.btn2-slider
                    button.Accumulation
                        p Accumulation
                .firstBlock--container__schedule--buttons__bgButtons.btn3-slider
                    button.Mark-down
                        p Mark-down
        .firstBlock--container__bottomContainer 
            p We've developed a market-making algorithm that not only creates eye-catching token markets but also generates profits for you from the trades.
            //- button.tryDemo 
            //-     p Try demo


