.footer
    .footer--container
        img(src="./images/logo2.svg" alt="").logo
        .footer--container__massengers
            .footer--container__massengers--tg 
                a(href="https://t.me/bitmakerfibot" target="_blank")
                    <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.21289 6.94912C6.75176 4.51242 13.9195 1.54158 14.9089 1.1304C17.5043 0.054179 18.3006 0.260432 17.9035 2.6438C17.6184 4.35685 16.7956 10.0284 16.1398 13.5585C15.7507 15.6519 14.8776 15.9 13.5048 14.9943C12.8446 14.5585 9.51238 12.3549 8.78917 11.8375C8.12898 11.3659 7.21847 10.7987 8.36036 9.68154C8.76669 9.28357 11.4304 6.74022 13.5057 4.76054C13.7776 4.50052 13.436 4.07347 13.1223 4.28193C10.3251 6.13689 6.44678 8.71153 5.95319 9.04691C5.2075 9.55329 4.49134 9.78555 3.20579 9.41623C2.23446 9.13726 1.2856 8.80452 0.916287 8.6776C-0.505891 8.18929 -0.168305 7.55686 1.21289 6.94912Z" fill="white"/>
                    </svg>
            .footer--container__massengers--tg 
                a(href="mailto:business@bitmaker.fi" target="_blank")
                    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.12982 8.9677C9.21579 9.72008 10.5842 9.72008 11.6702 8.9677L18.8583 3.98762C19.2562 3.71194 19.8 3.99673 19.8 4.48082V12.9086C19.8 13.9027 18.9941 14.7086 18 14.7086H1.8C0.805888 14.7086 0 13.9027 0 12.9086V4.48082C0 3.99672 0.543776 3.71193 0.941697 3.98762L8.12982 8.9677Z" fill="white"/>
                    <path d="M0.338087 1.43086C0.126337 1.28416 0 1.04293 0 0.785327C0 0.351603 0.351603 0 0.785327 0H19.0147C19.4484 0 19.8 0.351605 19.8 0.785331C19.8 1.04294 19.6737 1.28416 19.4619 1.43087L10.4901 7.64675C10.1281 7.89754 9.67193 7.89754 9.30994 7.64675L0.338087 1.43086Z" fill="white"/>
                    </svg>
            .footer--container__massengers--tg 
                a(href="https://www.linkedin.com/company/bitmakerfinance/" target="_blank")
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.59961 0C4.62936 0 0.599609 4.02975 0.599609 9C0.599609 13.9703 4.62936 18 9.59961 18C14.5699 18 18.5996 13.9703 18.5996 9C18.5996 4.02975 14.5699 0 9.59961 0ZM6.22161 4.05225C6.85311 4.05225 7.27386 4.473 7.27386 5.034C7.27386 5.595 6.85311 6.01575 6.15186 6.01575C5.52036 6.0165 5.09961 5.595 5.09961 5.034C5.09961 4.473 5.52036 4.05225 6.22161 4.05225ZM7.34961 12.75H5.09961V6.75H7.34961V12.75ZM14.8496 12.75H12.7316V9.471C12.7316 8.56425 12.1669 8.355 11.9554 8.355C11.7439 8.355 11.0374 8.4945 11.0374 9.471C11.0374 9.6105 11.0374 12.75 11.0374 12.75H8.84961V6.75H11.0381V7.587C11.3201 7.09875 11.8849 6.75 12.9439 6.75C14.0029 6.75 14.8496 7.587 14.8496 9.471V12.75Z" fill="white"/>
                    </svg>
    .footer--container
        .footer--container__policy 
            p © 2023 BitMaker. All Rights Reserved.
            .footer--container__policy--menu 
                a(href="#") Cookie Policy 
                a(href="#") Privacy Policy
                a(href="#") Terms of Use

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>