.futerBottom
    .futerBottom--container
        img(src="./images/logo2.svg" alt="").logo
        .futerBottom--container__massengers
            .futerBottom--container__massengers--tg 
                img(src="./images/tg.svg" alt="").tg
                p Telegram
            a(href="mailto:sale@work@bitmaker.com") work@bitmaker.com
            
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>