.futerBottom
    .futerBottom--container
        img(src="/images/logo2.svg", alt="").logo
        .futerBottom--container__massengers
            .futerBottom--container__massengers--tg 
                img(src="/images/tg.svg", alt="").tg
                p Telegram
            a(href="mailto:sale@work@bitmaker.com") work@bitmaker.com
            