.headerWhite.container
    .headerWhite--container
        .headerWhite--container__logo 
            img(src="./images/Logo.svg" alt="logo").headerWhite--container__logo--img
        .headerWhite--container__menu
            a(href="#") Main page
            a(href="#") About product
            button.contactUs(title="Подсказка")
                p Сontact us

script(src="./modal.js")

