.headerWhite.container
    .headerWhite--container
        .headerWhite--container__logo 
            img(src="./images/Logo.svg" alt="logo").headerWhite--container__logo--img
        .headerWhite--container__menu
            a(href="/") Main page
            a(href="/about.html") About product
            button.contactUs
                p Сontact us
        .headerWhite--container__menuMobile 
            img(src="./images/menuMobile.svg", alt="")
