.headerBlack.container
    .headerBlack--container
        .headerBlack--container__logo 
            img(src="./images/logo_wigth.svg" alt="logo").headerBlack--container__logo--img
        .headerBlack--container__menu
            a(href="#") Main page
            a(href="#") About product
            button.contactUs
                p Сontact us
        .headerBlack--container__menuMobile 
            img(src="./images/logo_wigth.svg", alt="")
script(src="./modal.js")