.headerWhite.container
    .headerWhite--container
        .headerWhite--container__logo 
            img(src="./images/Logo.svg" alt="logo").headerWhite--container__logo--img
        .headerWhite--container__menu
            a(href="#") Main page
            a(href="#") About product
            .headerWhite--container__menu--contactUs 
                a(href="#") Сontact us

script(src="./modal.js")

