.mainBlockAbout
    .mainBlockAbout--container 
        .mainBlockAbout--container__op
            .mainBlockAbout--container__text
                h1 Market making aimed at your profitability
                p Bitmaker focuses on creating a two-sided market and ensuring a continuous flow of buy and sell orders. By doing so, we increase trading volumes, attract traders and investors, and ultimately, generate profits for you from the trades
            .mainBlockAbout--container__button  
                button.tryDemo
                    p Сontact us
        .mainBlockAbout--container__img
            .mainBlockAbout--container__img--animation
            //- img(src="./images/mbi.png" alt="")

