.mainBlock.container
    .mainBlock--BGimg
        img(src="./images/bgBalls.png", alt="").balls
    .mainBlock--container 
        .mainBlock--container__text
            h1 We make your token’s market attractable for investors and profitable for you
            p We have developed a toolkit that allows us to delicately respond to all market changes and dynamically alter our behavior strategy.
        //- .mainBlock--container__button  
        //-     button.tryDemo
        //-         p Try demo
        .mainBlock--container__numbers 
            .mainBlock--container__numbers--number 
                h3.numberStyle 5
                p.numberStyle2 years on the market
            .mainBlock--container__numbers--number 
                h3.numberStyle 30+
                p.numberStyle2 exchanges simultaneously
            .mainBlock--container__numbers--number 
                h3.numberStyle 99%
                p.numberStyle2 uptime
            .mainBlock--container__numbers--number 
                h3.numberStyle 24/7
                p.numberStyle2 maximum capacity
