//- .modal 
//-     .modal--window
//-         .modal--window__content
//-             .modal--window__content--text
//-                 p Leave your Telegram username to get in touch
//-                 img(src="./images/closedIcon.png", alt="closedIcon").close
                    
//-             .modal--window__content--main 
//-                 input(type="" placeholder="@TG_username")
//-                 button.send
//-                     p Send
