.modalContact
    .modalContact--window
        .modalContact--window__header
            img(src="./images/close.svg" alt="").close
            .modal--window__content--text
                a(href="/")  
                    h3 Main page
                a(href="/about.html") 
                    h3 About product
            .modal--window__content--button 
                button.contactUs
                    p Сontact us
            .modal--window__content--footer 
                .modal--window__content--footer__tg 
                    img(src="./images/tg2.svg" alt="").tg
                    p Telegram
                a(href="mailto:sale@work@bitmaker.com") work@bitmaker.com
