//- .modalContactUs
//-     .modalContactUs--window
//-         .modalContactUs--window__content
//-             img(src="./images/close.svg" alt="").close
//-             .modalContactUs--window__content--text
//-                 a(href="/")  
//-                     h3 Main page
//-                 a(href="/about.html") 
//-                     h3 About product
//-             .modalContactUs--window__content--button 
//-                 button.contactUs
//-                     p Сontact us
//-             .modalContactUs--window__content--footer 
//-                 .modalContactUs--window__content--footer__tg 
//-                     img(src="./images/tg2.svg" alt="").tg
//-                     p Telegram
//-                 a(href="mailto:sale@work@bitmaker.com") work@bitmaker.com
