.partners 
    .partners--container 
        .partners--container__content 
            h2 30+ exchanges in one touch
            .partners--container__content--imgs
                img(src="./images/partners.svg", alt="").partners
                img(src="./images/logo2.svg", alt="").logo2
