.partnersWhite 
    .partnersWhite--container 
        .partnersWhite--container__content 
            h2 30+ exchanges in one touch
            .partners--container__content--bg#mobile
            .partners--container__content--imgs#mobile
                .scroll_bg#scroll_bg
                    .img
                    .img
                .scroll_bg#scroll_bgReverce
                    .imgReverce
                    .imgReverce
                .scroll_bg#scroll_bg
                    .img
                    .img
            .partnersWhite--container__content--imgs#desctop
                img(src="./images/partnersWhite.svg" alt="").partnersWhite
                img(src="./images/partnersMobile.png" alt="").partnersWhiteMobile
                .partnersWhite--container__content--imgs__logo
                    img(src="./images/logo3.svg" alt="").logo2
