.partnersWhite 
    .partnersWhite--container 
        .partnersWhite--container__content 
            h2 30+ exchanges in one touch
            .partnersWhite--container__content--imgs
                img(src="./images/partnersWhite.svg" alt="").partnersWhite
                .partnersWhite--container__content--imgs__logo
                    img(src="./images/logo3.svg" alt="").logo2
