.secondBlock 
    .secondBlock--container 
        .secondBlock--container__content 
            h2 Your project’s roadmap. Plain and simple
            .secondBlock--container__content--img
                img(src="./images/Group.png", alt="")
                