.secondBlockAbout.containerSecondBlockAbout
  .secondBlockAbout--container
    .secondBlockAbout--container--containerSticky
      .secondBlockAbout--container__text
        .secondBlockAbout--container__text--main
          .secondBlockAbout--container__text--main__element
            h4 Bitmaker’s Trinity
            p The success of your project is guaranteed by following our three rock-solid principles.
            .secondBlockAbout--container__text--list 
              .secondBlockAbout--container__text--list__string.item1
                img(src="./images/point1.png" alt="")
                h5 Innovative trading algorithms
              .secondBlockAbout--container__text--list__string.item2
                img(src="./images/point2.png" alt="")
                h5 Transparency in everything
              .secondBlockAbout--container__text--list__string.item3
                img(src="./images/point3.png" alt="")
                h5 Assistance at each step 
      .secondBlockAbout--container__schedule
        .secondBlockAbout--container__schedule--animation#desctop
        .secondBlockAbout--container__schedule--img#mobile
          img(src="./images/bg-about-second.png" alt="")
