.secondBlockAbout.container
    .secondBlockAbout--container 
        .secondBlockAbout--container__text 
            .secondBlockAbout--container__text--main
                h4 Bitmaker’s Trinity
                p The three pillars of our company ensure the success of your project
            .secondBlockAbout--container__text--list 
              .secondBlockAbout--container__text--list__string
                img(src="./images/point1.png", alt="")
                h5 Innovative trading algorithms
              .secondBlockAbout--container__text--list__string
                img(src="./images/point2.png", alt="")
                h5 Transparency in everything
              .secondBlockAbout--container__text--list__string
                img(src="./images/point3.png", alt="")
                h5 Assistance at each step 
        .secondBlockAbout--container__schedule
            img(src="./images/schedule2.png", alt="")
