.secondBlockAbout.container
  .secondBlockAbout--container 
    .secondBlockAbout--container--containerSticky 
      .secondBlockAbout--container__text 
        .secondBlockAbout--container__text--main
          h4 Advanced predictive technology under the hood 
          p Using our own data analysis software, bitmaker can identify patterns and trends in market data, making profitable trading decisions
        .secondBlockAbout--container__text--list 
          .secondBlockAbout--container__text--list__string.item1
            img(src="./images/point1.png" alt="")
            h5 Data parsing
          .secondBlockAbout--container__text--list__string.item2
            img(src="./images/point2.png" alt="")
            h5 Predictive analytics
          .secondBlockAbout--container__text--list__string.item3
            img(src="./images/point3.png" alt="")
            h5 Diagnostic analytics
      .secondBlockAbout--container__schedule
        .secondBlockAbout--container__schedule--animation
          //- img(src="./images/schedule2.png" alt="")
