.team 
    .team--container 
        .team--container__content 
            h2 Оur team is your team
            .team--container__content--cards 
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team2.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
                .team--container__content--cards__card 
                    img(src="/images/team1.svg", alt="")
                    h4 Tracy McHug
                    p CFO, Manager Parthnerships
