.thirdBlockAbout
    .thirdBlockAbout__loyaut
        .thirdBlockAbout__loyaut--container 
            .thirdBlockAbout__loyaut--container__text 
                h2 Bitmaker allows you to profit from every trade on your token market
                p.text The Bitmaker algorithm incorporates an extensive range of over hundreds of tools, enabling us to generate profits for our clients with each transaction in their market
            .thirdBlockAbout__loyaut--container__insideContainer 
                .thirdBlockAbout__loyaut--container__insideContainer--topContainer 
                    .thirdBlockAbout__loyaut--container__insideContainer--topContainer__left 
                        p.date 4 MAY 2023
                        .thirdBlockAbout__loyaut--container__insideContainer--topContainer__left--numbers 
                            h3 50.25
                            .thirdBlockAbout__loyaut--container__insideContainer--topContainer__left--numbers__procent 
                                img(src="./images/arrow.png", alt="")
                                p.procent 17%
                    .thirdBlockAbout__loyaut--container__insideContainer--topContainer__right 
                        select.box
                            option Вариант 1
                            option Вариант 2
                            option Вариант 3
                            option(selected) Candle
                        select.box
                            option Вариант 1
                            option Вариант 2
                            option Вариант 3
                            option(selected) 1 month
                .thirdBlockAbout__loyaut--container__insideContainer--bottomContainer
                    img(src="./images/schedule3.svg", alt="")