.whiteBlock
    .whiteBlock--howItWork
        .whiteBlock--howItWork__container
            .whiteBlock--howItWork__container--header 
                h2 How it works
            .whiteBlock--howItWork__container--slider 
                .whiteBlock--howItWork__container--slider__tabs 
                    .whiteBlock--howItWork__container--slider__tabs--item.active
                        a Volume optimization
                    .whiteBlock--howItWork__container--slider__tabs--item 
                        a Token liquidation
                    .whiteBlock--howItWork__container--slider__tabs--item 
                        a Arbitrage closing
                    .whiteBlock--howItWork__container--slider__tabs--item 
                        a Risk management
                .whiteBlock--howItWork__container--slider__display
                    .whiteBlock--howItWork__container--slider__display--item 
                        .whiteBlock--howItWork__container--slider__display--item__container
                            .whiteBlock--howItWork__container--slider__display--item__container--left 
                                p Bitmaker aims to provide liquidity to specific assets, ensuring seamless order execution and reduced transaction costs.
                                h4 By optimizing trading volume, we create a vibrant trading environment where you can maximize your profits and make the most out of your trading activities.
                            .whiteBlock--howItWork__container--slider__display--item__container--rigth 
                                img(src="./images/mobileImg.png").mobile
                                img(src="./images/mobileImgM.png").mobileMobile

    include ../includes/partnersWhite.pug

    .whiteBlock--banner
        .whiteBlock--banner__container 
            img(src="./images/banner.png")
        .whiteBlock--banner__containerMobile 
            img(src="./images/banner2.png")
    .whiteBlock--sleekIntuitive
        .whiteBlock--sleekIntuitive__container
            .whiteBlock--sleekIntuitive__container--hedaer 
                h2 The sleek and intuitive design
                p We understand that market-making can be complex and fast-paced. With a clean and modern design, our platform provides clients with a clear view of their token market.
            .whiteBlock--sleekIntuitive__container--img 
                img(src="./images/displayCharts.svg")