.whiteBlock
    .whiteBlock--howItWork
        .whiteBlock--howItWork__container
            .whiteBlock--howItWork__container--header 
                h2 How it works 
            .whiteBlock--howItWork__container--slider 
                .whiteBlock--howItWork__container--slider__tabs 
                    .whiteBlock--howItWork__container--slider__tabs--item.btn1-slider.active
                        a General analysis
                    .whiteBlock--howItWork__container--slider__tabs--item.btn2-slider
                        a Tokenomics optimization
                    .whiteBlock--howItWork__container--slider__tabs--item.btn3-slider 
                        a Market stabilization
                    .whiteBlock--howItWork__container--slider__tabs--item.btn4-slider
                        a Strategy implementation
                .whiteBlock--howItWork__container--slider__display
                    .whiteBlock--howItWork__container--slider__display--item 
                        .swiper.sliderAbout
                            .swiper-wrapper 
                                div.swiper-slide
                                    .whiteBlock--howItWork__container--slider__display--item__container
                                        .whiteBlock--howItWork__container--slider__display--item__container--left 
                                            p Bitmaker aims to provide quality service, ensuring that the implemented solutions are adequate for the current market phase.
                                            h4 We shape our strategy to meet the present realities through an in-depth analysis of the market in general and a detailed examination of your token's market.
                                        .whiteBlock--howItWork__container--slider__display--item__container--rigth 
                                            img(src="./images/mobileImg.png").mobile
                                            img(src="./images/mobileImgM.png").mobileMobile
                                div.swiper-slide
                                    .whiteBlock--howItWork__container--slider__display--item__container
                                        .whiteBlock--howItWork__container--slider__display--item__container--left 
                                            p We understand the importance of project tokenomics and know how to select the best option.
                                            h4 Our experts will guide you through the details of tokenomics composition, ensuring optimal structuring of your cap table and vesting schedule for maximum value.
                                        .whiteBlock--howItWork__container--slider__display--item__container--rigth 
                                            img(src="./images/How2.png").mobile
                                            img(src="./images/How2.png").mobileMobile
                                div.swiper-slide
                                    .whiteBlock--howItWork__container--slider__display--item__container
                                        .whiteBlock--howItWork__container--slider__display--item__container--left 
                                            p Equilibrium will help take the initiative into your own hands and become the leader in the market of your token.
                                            h4 Through detailed analysis, we search for optimal sets of price and liquidity parameters that form the basis of the trading process.
                                        .whiteBlock--howItWork__container--slider__display--item__container--rigth 
                                            img(src="./images/How3.png").mobile
                                            img(src="./images/How3.png").mobileMobile
                                div.swiper-slide
                                    .whiteBlock--howItWork__container--slider__display--item__container
                                        .whiteBlock--howItWork__container--slider__display--item__container--left 
                                            p Bitmaker always has a clear strategy and action plan in case of implementing various probable events.
                                            h4 In our toolbox, we have sophisticated instruments and technologies to track market trends, assess risk levels, and adjust our strategies accordingly.
                                        .whiteBlock--howItWork__container--slider__display--item__container--rigth 
                                            img(src="./images/How4.png").mobile
                                            img(src="./images/How4.png").mobileMobile

    include ../includes/partnersWhite.pug

    .whiteBlock--banner
        .whiteBlock--banner__container 
            img(src="./images/banner.png")
        .whiteBlock--banner__containerMobile 
            img(src="./images/banner2.png")
    .whiteBlock--sleekIntuitive
        .whiteBlock--sleekIntuitive__container
            .whiteBlock--sleekIntuitive__container--hedaer 
                h2 The sleek and intuitive design
                p We understand that market-making can be complex and fast-paced. With a clean and modern design, our platform provides clients with a clear view of their token market.
            .whiteBlock--sleekIntuitive__container--img 
                img(src="./images/displayCharts.svg").displayChartsImg
                img(src="./images/displayChartsMobile.png").displayChartsImgMobile