html.no-js(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible' content='ie=edge')
        title Bit Maker
        link( rel="icon" href="./images/favicon.ico" type="image/x-icon")
        meta(name='description' content='Track, trade, discover, analyse, share and more all on one platform')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    body.black
        //- Header 
        include ../includes/headerBlack.pug
        include ../includes/mainBlockAbout.pug
        include ../includes/secondBlockAbout.pug
        include ../includes/thirdBlockAbout.pug
        include ../includes/whiteBlock.pug
        include ../includes/team.pug
        include ../includes/contactUs.pug
        include ../includes/footerBottom.pug
        include ../includes/modal.pug