doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Bit Maker
    link( rel="icon" href="./images/favicon.png" type="image/x-icon")
    meta(name='description' content='Track, trade, discover, analyse, share and more all on one platform')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body 
    //- Header 
    include ../includes/modalContactUs.pug
    include ../includes/headerWhite.pug
    .containerMainBlock
      include ../includes/mainBlock.pug
      include ../includes/mainBlockImg.pug
    .change-black-element.slideAnimation
      include ../includes/firstBlock.pug
      include ../includes/secondBlock.pug
      include ../includes/partners.pug
      //- include ../includes/team.pug
      .grey
        include ../includes/contactUs.pug
        include ../includes/footer.pug
      include ../includes/modal.pug

<script src="https://unpkg.com/d3-time-format@4.1.0/dist/d3-time-format.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
