@use '../variables'
@use '../mixin'

.containerMainBlock
    position: fixed
    top: 0
    z-index: -1

.firstBlock
    background-color: variables.$bg-black
    border-radius: 80px 80px 0 0
    position: relative
    top: -10px

    @media (max-width: 768px)
        position: relative
    &--container
        max-width: 1153px
        margin: -0px auto
        padding: 128px 20px
        @media (max-width: 768px)
            padding: 94px 20px 0 20px
        &__text
            display: flex
            justify-content: space-between
            align-items: center
            @media (max-width: 768px)
                flex-direction: column
                align-items: flex-start
            h2
                color: variables.$font-white
                @include mixin.label-M
                max-width: 360px
                margin: 0
                @media (max-width: 768px)
                    max-width: 315px
            p
                color: variables.$font-black-30
                @include mixin.text-XL
                max-width: 323px
                @media (max-width: 768px)
                    margin-top: 8px

        &__schedule
            margin-top: 60px
            border-radius: 8px
            background: variables.$bg-black-80
            display: flex
            padding: 17px
            gap: 26px
            justify-content: space-between
            @media (max-width: 1185px)
                flex-wrap: wrap
            @media (max-width: 768px)
                padding: 30px
                margin-top: 20px
                canvas
                    height: 250px!important
            img
                height: 100%
                width: 100%
                @media (max-width: 1185px)

            &--buttons
                gap: 18px
                display: flex
                flex-direction: column
                position: relative
                z-index: 99
                @media (max-width: 1185px)
                    flex-direction: row
                    justify-content: space-between
                    gap: 12px
                    width: 100%
                @media (max-width: 768px)
                    flex-direction: column
                &__bgButtons.active
                    background: variables.$bg-black-70
                    border: 1px solid variables.$bg-black-60
                    .Mark-up
                        background-color: variables.$bg-green
                        p
                            color: variables.$font-black
                    .Accumulation
                        background-color: variables.$bg-yellow
                        p
                            color: variables.$font-black
                    .Mark-down
                        background-color: variables.$bg-red
                        p
                            color: variables.$font-black
                &__bgButtons
                    border-radius: 8px
                    border: 2px solid variables.$bg-black-70
                    padding: 58px 46px
                    cursor: pointer
                    @media (max-width: 1185px)
                        width: 100%
                        text-align: center
                    @media (max-width: 950px)
                        padding: 58px 10px
                    @media (max-width: 768px)
                        padding: 36px 10px
                        margin: 0
                    .Mark-up
                        width: 183px
                        height: 54px
                        border-radius: 12px
                        background: variables.$bg-black-70
                        padding: 0
                        border: none
                        font: inherit
                        color: inherit
                        cursor: pointer
                        transition: 0.3s
                        @media (max-width: 768px)
                            width: 140px
                        p
                            text-align: center
                            @include mixin.text-L
                            color: variables.$font-white
                    .Mark-up:hover
                        border-color: currentColor
                        border: 1px solid variables.$bg-green
                    .Mark-up:hover:active:before
                        filter: blur(10px)

                &__bgButtons
                    .Accumulation
                        width: 183px
                        height: 54px
                        border-radius: 12px
                        background: variables.$bg-black-70
                        padding: 0
                        border: none
                        font: inherit
                        color: inherit
                        cursor: pointer
                        transition: 0.3s
                        @media (max-width: 768px)
                            width: 140px
                        p
                            text-align: center
                            @include mixin.text-L
                            color: variables.$font-white
                    .Accumulation:hover
                        border-color: currentColor
                        border: 1px solid variables.$bg-yellow
                    .Accumulation:hover:active:before
                        filter: blur(10px)
                &__bgButtons
                    @media (max-width: 768px)
                        display: flex
                        flex-direction: column
                        align-items: center
                        padding: 23px 0px
                    .Mark-down
                        width: 183px
                        height: 54px
                        border-radius: 12px
                        background: variables.$bg-black-70
                        padding: 0
                        border: none
                        font: inherit
                        color: inherit
                        cursor: pointer
                        transition: 0.3s
                        @media (max-width: 768px)
                            height: 46px
                        p
                            text-align: center
                            @include mixin.text-L
                            color: variables.$font-white
                    .Mark-down:hover
                        border-color: currentColor
                        border: 1px solid variables.$bg-red
                    .Mark-down:hover:active:before
                        filter: blur(10px)

        &__bottomContainer
            display: flex
            justify-content: space-between
            margin-top: 46px
            @media (max-width: 768px)
                flex-direction: column
                margin-top: 20px
                padding-bottom: 60px
            p
                color: variables.$font-black-50
                @include mixin.text-M
                font-weight: 400
                max-width: 564px
                @media (max-width: 768px)

            .tryDemo
                border-radius: 12px
                border: 1px solid variables.$bg-white
                background-color: transparent
                padding: 0
                margin: 0
                height: 50px
                cursor: pointer
                transition: 0.3s
                @media (max-width: 768px)
                    width: 100%
                p
                    color: variables.$font-white
                    text-align: center
                    @include mixin.text-L
                    margin: 0
                    padding: 20px 40px
            .tryDemo:hover
                transition: 0.3s
            .tryDemo:focus
                border-color: currentColor
                background-color: variables.$bg-white
                p
                    color: variables.$font-black
            .tryDemo:active
                border-color: currentColor
                background-color: variables.$bg-white
                p
                    color: variables.$font-black
