.futerBottom
    background-color: #000
    
    &--container 
        max-width: 1153px
        margin:  auto 
        padding: 0px 20px 70px 20px 
        display: flex
        justify-content: space-between
        
        img.logo
            max-width: 131px
        &__massengers
            display: flex
            align-items: center
            gap: 40px
            &--tg 
                display: flex
                img.tg
                p 
                    color: #FFF
                    text-align: center
                    font-size: 14px
                    font-family: Milligram
                    font-style: normal
                    font-weight: 500
                    line-height: normal
            a
                color: #FFF
                text-align: right
                font-size: 14px
                font-family: Milligram
                font-style: normal
                font-weight: 500
                line-height: normal
                text-decoration: none