@use "~sass-rem" as rem
@use "../config/helpers" as h

.header
    height: 1px
    &--container
        position: absolute
        width: 100vw
        display: flex
        justify-content: space-between
        padding: rem.convert(32px)
        z-index: 10
        @media (max-width: h.$mediaMaxWidthMobil)
            padding: rem.convert(16px)
        &__menuBurger
            display: none
            height: rem.convert(48px)
            @media (max-width: h.$mediaMaxWidthTable)
                display: block
                cursor: pointer
            @media (max-width: h.$mediaMaxWidthMobil)
                &--icon
        &__logo
            margin: auto 0
            img 
                position: relative
                top: 10px
        &__menu
            margin: auto 0
            nav
                > ul
                    display: flex
                    align-items: center
                    > li
                        padding: 1rem
                        margin: 0 0.25rem
                        position: relative
                        border-radius: rem.convert(8px)
                        transition:.3s
                        white-space: nowrap
                        &:hover
                            background-color: rgba(255, 255, 255, 0.1)
                            transition:.3s

                            .header--container__menu--arrow
                                transform: rotate(180deg)
                            div
                                opacity: 1
                                
            @media (max-width: h.$mediaMaxWidthTable)
                display: none
            &--arrow
                margin-left: rem.convert(10px)
                height: rem.convert(4px)
                width: rem.convert(8px)
                vertical-align: middle
                transition:.3s
            &--wrapper 
                opacity: 0
                position: absolute
                z-index: 1
                top: rem.convert(48px)
                left: 0
                transition: .3s
                border-top: rem.convert(6px) solid transparent
                ul
                    padding: rem.convert(12px)
                    background: #000211
                    box-shadow: rem.convert(0px) rem.convert(8px) rem.convert(24px) rgba(18, 1, 41, 0.86)
                    border-radius: rem.convert(12px)
                    li
                        padding: rem.convert(8px) rem.convert(12px)
                        transition:.3s
                        border-radius: rem.convert(8px)
                        &:hover 
                            background: rgba(255, 255, 255, 0.1)
                            transition:.3s
        &__bar
            display: flex
            &--course
                margin: auto rem.convert(8px)
                @media (max-width: h.$mediaMaxWidthTable)
                    display: none
            &--language
                margin: auto rem.convert(8px)
                position: relative
                &__button
                    width: rem.convert(48px)
                    height: rem.convert(48px)
                    background: rgba(255, 255, 255, 0.08)
                    border-radius: rem.convert(8px)
                    padding: rem.convert(12px) rem.convert(12px)
                    transition: .3s
                    &:hover 
                        background: rgba(85, 85, 254, 0.23)
                        box-shadow: 0px 4px 20px rgba(78, 0, 249, 0.24)
                        transition: .3s

                        div
                            opacity: 1
                            visibility: visible
                            transition: .3s
                    div 
                        opacity: 0
                        visibility: hidden
                        transition: .3s
                        position: absolute
                        z-index: 1
                        top: rem.convert(48px)
                        left: 0
                        border-top: 6px solid transparent

                        @media (max-width: h.$mediaMaxWidthTable)
                            right: 0
                            left: auto
                        ul
                            padding: rem.convert(12px)
                            background: #000211
                            box-shadow: 0px 8px 24px rgba(18, 1, 41, 0.86)
                            border-radius: 12px
                            li
                                transition:.3s
                                padding: rem.convert(8px) rem.convert(12px)
                                border-radius: rem.convert(8px)
                                min-width: rem.convert(150px)
                                &:hover 
                                    transition:.3s
                                    background: rgba(255, 255, 255, 0.1)
                &__list 
                    &--item 
                        display: flex
                        align-items: center
                        p 
                            display: block
                            margin: auto 16px auto 0

                        &__img 
                            width: rem.convert(24px)
                            margin-right: rem.convert(8px)
                        &__checkMark
                            height:  rem.convert(10px)
                            width: rem.convert(15px)
                            margin-left: auto

            &--wallet
                margin: auto rem.convert(8px)
                position: relative
                @media (max-width: h.$mediaMaxWidthTable)
                            display: none
                // a span
                    // @media ( max-width: 1232px ) and (min-width: h.$mediaMaxWidthTable)
                    //     display: none  
                div 
                    opacity: 0
                    visibility: hidden
                    transition: .3s
                    width: 100%
                    position: absolute
                    z-index: 1
                    top: rem.convert(52px)
                    left: 0
                    border-top: 6px solid transparent

                    @media (max-width: h.$mediaMaxWidthTable)
                        right: 0
                        left: auto
                    ul
                        padding: rem.convert(12px)
                        background: #000211
                        box-shadow: 0px 8px 24px rgba(18, 1, 41, 0.86)
                        border-radius: 12px
                        li
                            transition:.3s
                            padding: rem.convert(8px) rem.convert(12px)
                            border-radius: rem.convert(8px)
                            &:hover 
                                transition:.3s
                                background: rgba(255, 255, 255, 0.1) 
            &--authorization
                margin: auto rem.convert(8px)
                @media (max-width: h.$mediaMaxWidthTable)
                    display: none
                a span 
                    white-space: nowrap
.menuBurger
    display: none
    width: 100vw
    height: 100vh
    position: absolute
    z-index: 1
    &--wrapper 
        overflow: scroll
        margin-top: 6rem
        position: absolute
        bottom: 0
        left: 0
        right: 0
        top: 4rem
    &--bg
        width: 100vw
        height: 110vh
        position: absolute
        z-index: -1
        @media (max-width: h.$mediaMaxWidthMobil)
            height: 100vh
    &--menu
        text-align: center
        padding: 0 1rem
        nav
            ul
                li
                    margin-bottom: rem.convert(34px)
                    padding: rem.convert(16px)
                    border-radius: rem.convert(8px)
                    transition: .3s
                    @media (max-width: h.$mediaMaxWidthMobil)
                        margin-bottom: rem.convert(40px)
                    h4
                        @media (max-width: h.$mediaMaxWidthMobil)
                            font-size: rem.convert(18px)
                        a
                            color: #fff
                    &:hover
                        background-color: rgba(255, 255, 255, 0.1)
                        transition:.3s
                        .menuBurger--menu__arrow
                            transform: rotate(180deg)
                            transition:.3s
                        ul 
                            display: block  
                    ul
                        display: none
                        li
                            margin: 1rem
                            a
                                font-size: 1.5rem
                                @media (max-width: h.$mediaMaxWidthMobil)
                                    font-size: rem.convert(18px)
        &__arrow
            margin-left: rem.convert(16px)
            height: rem.convert(6px)
            width: rem.convert(12px)
            vertical-align: middle
            transition:.3s
    &--footer
        
        margin: auto
        display: grid
        margin-bottom: 2rem
        gap: rem.convert(24px)
        margin-top: 10vh
        &__buttons 
            display: flex
            align-items: center
            justify-content: center
            gap: rem.convert(16px)
        &__curs
            margin: 0 auto
            p 
                text-align: center
        &__authorization
        &__wallet
            position: relative
            div 
                opacity: 0
                visibility: hidden
                transition: .3s
                width: 100%
                position: absolute
                z-index: 1
                top: - rem.convert(63px)
                left: 0
                border-bottom: 6px solid transparent

                @media (max-width: h.$mediaMaxWidthTable)
                    right: 0
                    left: auto
                ul
                    padding: rem.convert(12px)
                    background: #000211
                    box-shadow: 0px 8px 24px rgba(18, 1, 41, 0.86)
                    border-radius: 12px
                    li
                        transition:.3s
                        padding: rem.convert(8px) rem.convert(12px)
                        border-radius: rem.convert(8px)
                        &:hover 
                            transition:.3s
                            background: rgba(255, 255, 255, 0.1) 
.showMenu
    display: block
.closeIcon
    display: none
.showSubmenu
    background-color: rgba(255, 255, 255, 0.1)
    border-radius: rem.convert(8px)
    transition:.3s
    ul 
        display: block !important
    .menuBurger--menu__arrow
        transform: rotate(180deg)
        transition:.3s

