@use '../variables'
@use '../mixin'

.container
.mainBlockAbout
    margin: auto
    &--container
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        z-index: 3
        &__op
            display: flex
            flex-direction: column
            align-items: center
            position: relative
            z-index: 3
        &__text
            h1
                max-width: 782px
                color: variables.$font-white
                text-align: center
                @include mixin.label-XL
                margin: 116px 0 18px 0
                @media (max-width: 1160px)
                    margin: 106px 0 28px 0
                    max-width: 638px
                @media (max-width: 768px)
                    font-size: 34px
                    max-width: 312px
                    margin: 112px auto 15px auto
            p
                max-width: 656px
                margin: auto
                color: variables.$font-black-40
                text-align: center
                @include mixin.text-M
                margin-bottom: 63px
                font-weight: 400
                @media (max-width: 1160px)
                    margin-bottom: 72px
                @media (max-width: 768px)
                    margin-bottom: 46px
                    font-size: 12px
                    max-width: 312px

        .tryDemo
            justify-content: center
            align-items: center
            border-radius: 12px
            background: variables.$bg-white
            margin-bottom: 88px
            cursor: pointer
            border: none
            @media (max-width: 768px)
                margin-bottom: 76px
            p
                padding: 20px 62px
                color: variables.$font-black
                text-align: center
                leading-trim: both
                text-edge: cap
                @include mixin.text-L
                line-height: 10px
                margin: 0
                @media (max-width: 768px)
                    padding: 20px 45px
        .tryDemo:hover
            transition: 0.3s
        .tryDemo:focus
            //border-color: currentColor
            background-color: variables.$bg-black-60
            p
                color: variables.$font-white
        .contactUs:active
            background-color: variables.$bg-black
            border: 1px solid variables.$bg-white
            p
                color: variables.$font-white
        &__img
            z-index: -2
            position: relative
            top: -400px
            @media (max-width: 1160px)
                margin-top: -260px
                width: 100%
            @media (max-width: 768px)
                margin-top: -220px
                margin-bottom: 0px
                width: 100%
                top: 0
            &--img
                img
                    width: 100%
                @media (max-width: 1160px)
                    width: 100%
                @media (max-width: 768px)
                    width: 100%
