@use '../variables'
@use '../mixin'

.container
.mainBlock
    max-width: 1153px
    margin: auto
    margin-top: 180px
    @media (max-width: 768px)
        margin-top: 60px
    &--BGimg
        .balls
            position: absolute
            top: 0
            width: 100vw
            height: 100vh
            left: 0
            z-index: -1
            object-fit: cover

    &--container
        display: flex
        flex-direction: column
        align-items: center
        position: relative
        z-index: 1
        padding: 0 36px
        &__text
            h1
                max-width: 850px
                color: variables.$font-black
                text-align: center
                @include mixin.label-L
                line-height: 120%
                margin: 46px 0 18px 0
                @media (max-width: 1160px)
                @media (max-width: 768px)
                    margin: 23px auto 16px
                    max-width: 312px
            p
                max-width: 470px
                margin: auto
                color: variables.$font-black-50
                text-align: center
                @include mixin.text-S
                margin-bottom: 51px
                @media (max-width: 1160px)
                @media (max-width: 768px)
                    margin-bottom: 38px

        .tryDemo
            justify-content: center
            align-items: center
            border-radius: 12px
            background: #000
            margin-bottom: 88px
            cursor: pointer
            @media (max-width: 1160px)
            @media (max-width: 768px)
                margin-bottom: 76px
            p
                padding: 18px 62px
                color: variables.$font-white
                text-align: center
                leading-trim: both
                text-edge: cap
                margin: 0
                @include mixin.text-M
                @media (max-width: 1160px)
                @media (max-width: 768px)
                    padding: 18px 51px
        .tryDemo:hover
            transition: 0.3s
        .tryDemo:focus
            //border-color: currentColor
            background-color: #2E2E2E
            p
                color: variables.$font-white
        .contactUs:active
            background-color: variables.$bg-white
            border: 1px solid variables.$bg-black
            p
                color: variables.$font-black
        &__numbers
            width: 726px
            justify-content: space-between
            display: flex
            @media (max-width: 1160px)
            @media (max-width: 768px)
                display: grid
                grid-template-columns: 1fr 1fr
                width: 100%
                gap: 26px
            &--number
                display: flex
                gap: 13px
                align-items: flex-start
                max-width: 104px
                @media (max-width: 768px)
                    max-width: fit-content
                h3.numberStyle
                    color: #000
                    @include mixin.label-M
                    margin: 0
                p.numberStyle2
                    color: variables.$font-black-50
                    @include mixin.text-M
                    margin: 0
    // &--img
    //     .bottomImg
    //         position: absolute
    //         left: 0
    //         max-width: 100%
    //         margin-top: -260px 
