.mainBlockImg
    &--img
        .bottomImg
            left: 0
            max-width: 100%
            margin-top: -340px
            @media (max-width: 1350px)
                margin-top: -310px
            @media (max-width: 1250px)
                margin-top: -280px
            @media (max-width: 1080px)
                    margin-top: -210px
            // @media (max-width: 770px)
            //         margin-top: -355px
            @media (max-width: 768px)
                margin-top: -355px
                max-width: 195%
                margin-left: -207px
            @media (max-width: 660px)
                margin-top: -330px
            @media (max-width: 570px)
                margin-top: -300px
            @media (max-width: 520px)
                margin-top: -275px
            @media (max-width: 480px)
                margin-top: -260px
            @media (max-width: 470px)
                margin-top: -245px
            @media (max-width: 440px)
                margin-top: -230px
            @media (max-width: 420px)
                margin-top: -210px
            @media (max-width: 370px)
                margin-top: -190px
            @media (max-width: 360px)
                margin-top: -170px
