.mainBlockImg
    &--img
        .bottomImg
            left: 0
            max-width: 100%
            margin-top: -340px
            @media (max-width: 1350px)
                margin-top: -310px
            @media (max-width: 1250px)
                margin-top: -280px
            @media (max-width: 1080px)
                    margin-top: -210px
            @media (max-width: 768px)
                margin-top: -140px
                max-width: 195%
                margin-left: -207px