@use '../variables'
@use '../mixin'

.modalContactUs
    display: none
    &--bg
        z-index: 99
        opacity: 0.4000000059604645
        background: variables.$bg-black-90
        width: 100vw
        height: 100vh
        position: fixed
    &--window
        border-radius: 40px
        background: variables.$bg-black
        padding: 61px 75px 88px
        max-width: 520px
        margin: auto
        z-index: 999
        position: fixed
        margin-left: -241.5px
        left: 50%
        top: 50%
        margin-top: -190px
        @media (max-width: 1160px)
            padding: 137px 75px
            max-width: 369px
            margin-left: -260px
            margin-top: -275px
        @media (max-width: 768px)
            padding: 59px 66px 166px
            max-width: 100%
            left: 0
            margin-left: 0
            right: 0
            height: 100%
            max-height: 360px
            margin-top: 145px
            margin: 0

            bottom: -130px
            top: auto
        &__content
            display: flex
            justify-content: space-between
            flex-direction: column
            align-items: center
            gap: 60px
            h4
                color: variables.$font-white
                text-align: center
                @include mixin.label-M
                margin: 0
            &--buttons
                display: flex
                gap: 12px
                flex-direction: column
                .joinOurTg
                    cursor: pointer
                    border-radius: 4px
                    background: variables.$bg-white
                    display: flex
                    align-items: center
                    padding: 20px 32px
                    gap: 10px
                    max-height: 50px
                    text-decoration: none
                    svg
                        path
                            fill: variables.$bg-black
                    svg
                    p
                        color: variables.$font-black
                        text-align: center
                        @include mixin.text-M
                        line-height: 10px
                        margin: 0
                .ContactUsByEmail
                    border-radius: 4px
                    border: 1px solid variables.$bg-white
                    background-color: variables.$bg-black
                    cursor: pointer
                    max-height: 50px
                    text-decoration: none
                    a
                        text-decoration: none
                    p
                        color: variables.$font-white
                        text-align: center
                        @include mixin.text-M
                        padding: 15px 32px
                        margin: 0
