@keyframes bounce
    0%
        transform: translateX(100vw)
    100%
        transform: translateX(0px)

.modalContactUs
    display: none
    &--bg
        z-index: 99
        opacity: 0.4000000059604645
        background: #010101
        width: 100vw
        height: 100vh
        position: fixed
    &--window
        border-radius: 40px
        background: #000
        padding: 61px 75px 88px
        max-width: 520px
        margin: auto
        z-index: 999
        position: fixed
        margin-left: -302px
        left: 50%
        top: 50%
        margin-top: -190px
        @media (max-width: 1160px)
            padding: 137px 75px 
            max-width: 369px
            margin-left: -260px
            margin-top: -275px
        @media (max-width: 768px)
            padding: 59px 66px 166px
            max-width: 100%
            left: 0
            margin-left: 0
            right: 0
            height: 100%
            max-height: 360px
            margin-top: 145px
        &__content
            display: flex
            justify-content: space-between
            flex-direction: column
            align-items: center
            gap: 60px
            h4 
                color: #FFF
                text-align: center
                font-size: 40px
                font-family: Milligram
                font-style: normal
                font-weight: 500
                line-height: 120%
                margin: 0
            &--buttons 
                display: flex
                gap: 20px
                flex-direction: column
                
                .joinOurTg 
                    cursor: pointer
                    border-radius: 4px
                    background: #FFF
                    display: flex
                    align-items: center
                    padding: 20px 32px
                    gap: 10px
                    max-height: 50px
                    svg 
                        path 
                            fill: #000
                    svg
                    p 
                        color:  #000
                        text-align: center
                        leading-trim: both
                        text-edge: cap
                        font-size: 14px
                        font-family: Milligram
                        font-style: normal
                        font-weight: 500
                        line-height: 10px
                        margin: 0
                .ContactUsByEmail
                    border-radius: 4px
                    border: 1px solid #FFF
                    background-color: #000
                    cursor: pointer
                    max-height: 50px
                    p 
                        color: #FFF
                        text-align: center
                        leading-trim: both
                        text-edge: cap
                        font-size: 14px
                        font-family: Milligram
                        font-style: normal
                        font-weight: 500
                        line-height: 10px
                        padding: 20px 32px
                        margin: 0