@use '../variables'
@use '../mixin'

.partnersWhite
    background-color: #fff0
    &--container
        max-width: 1153px
        margin: 0px auto
        padding: 79px 20px
        @media (max-width: 768px)
            padding: 60px 20px
        &__content
            position: relative
            h2
                color: variables.$font-black
                @include mixin.label-M
                max-width: none
                margin: auto
                text-align: center
                @media (max-width: 768px)
                    font-size: 32px
                    text-align: left

            &--imgs
                margin-top: 60px
                display: flex
                flex-direction: column
                border-radius: 20px
                border: 1px solid variables.$bg-black-30
                padding: 65px 55px 0
                @media (max-width: 1160px)
                    padding: 38px 25px 17px 25px
                @media (max-width: 768px)
                    padding: 38px 25px 0
                &__logo
                    border-radius: 20px
                    border: 1px solid variables.$bg-black-30
                    width: 100%
                    text-align: center
                    padding: 19px 0 15px
                    margin: 19px 0 48px

                img.partnersWhite
                    width: 100%
                    @media (max-width: 768px)
                        display: none
                img.partnersWhiteMobile
                    display: none
                    @media (max-width: 768px)
                        display: block
                        background-size: cover
                        object-fit: cover
                        -webkit-mask-size: cover
                img.logo2
                    max-width: 208px
                    @media (max-width: 1160px)
                        max-width: 125px
                    @media (max-width: 768px)
                        max-width: 154px
