@use '../variables'
@use '../mixin'

.policyPages
.pulicy
    padding-top: 215px
    &--container
        max-width: 957px
        margin: auto
        @media (max-width: 1160px)
            margin: 55px
        @media (max-width: 768px)
            margin: 25px
        &__title
            h1
                color: variables.$font-white
                text-align: center
                @include mixin.label-XL
                @media (max-width: 768px)
                    font-size: 72px
        &__description
            margin: 40px auto 30px
            max-width: 857px
            p
                color: variables.$font-black-40
                @include mixin.text-L
        &__body
            border-radius: 20px
            background: variables.$bg-black-90
            padding: 40px 50px
            margin-bottom: 95px
            &--list
                display: grid
                gap: 10px
                &__item
                    display: grid
                    gap: 10px
                    h2
                        color: variables.$font-white
                        @include mixin.label-S
                        @media (max-width: 768px)
                            font-size: 33px
                    p
                        color: variables.$font-black-40
                        @include mixin.text-L
