@use '../variables'
@use '../mixin'

.containerSecondBlockAbout
    padding: 20px 20px
    @media (max-width: 768px)
        padding: 20px 0px
.secondBlockAbout
    max-width: 1153px
    margin: auto
    &--container
        &--containerSticky
            display: flex
            z-index: 3
            @media (max-width: 1160px)
                flex-direction: column
            @media (max-width: 768px)
        &__text
            width: -webkit-fill-available
            position: sticky
            top: 200px
            height: fit-content
            z-index: 2
            @media (max-width: 768px)
                position: relative
                top: 0px
                margin-bottom: 41px
            &--main
                display: grid
                gap: 27px
                &__element
                    @media (max-width: 768px)
                        margin: 0 25px
                h4
                    max-width: 387px
                    color: variables.$font-white
                    @include mixin.label-S
                    //margin: 116px 0 18px 0
                    margin: 0
                    @media (max-width: 1160px)
                        max-width: 415px
                    @media (max-width: 768px)
                        font-size: 32px
                        margin-bottom: 5px
                        //max-width: 311px
                        // margin: 106px 0 28px 0
                        // max-width: 638px
                p
                    max-width: 315px
                    color: variables.$font-black-40
                    @include mixin.text-M
                    font-weight: 400
                    margin: 0
                    //margin-bottom: 51px
                    @media (max-width: 1160px)
                        max-width: 407px
                    @media (max-width: 768px)
                        //margin-bottom: 38px
                        max-width: 225px
            &--list
                margin-top: 160px
                @media (max-width: 1160px)
                    margin-top: 71px
                    display: flex
                    gap: 57px
                @media (max-width: 768px)
                    margin-top: 41px
                    display: block

                &__string
                    display: flex
                    align-items: center
                    gap: 15px
                    opacity: 0
                    @media (max-width: 768px)
                        opacity: 1!important
                    h5
                        color: variables.$font-white
                        @include mixin.text-XL
                        font-weight: 500
                        margin: 10px 0
                        @media (max-width: 768px)
                            font-size: 18px
        &__schedule
            margin-right: -100%
            position: relative
            left: -90%
            @media (max-width: 1160px)
                margin-right: 0%
                position: relative
                left: 0%
                opacity: 0.5
            @media (max-width: 768px)
                opacity: 1
            &--img
                img
                    width: 100%
                @media (max-width: 768px)
