.data
    font: 10px serif
    fill: #6A6A6A

.secondBlock
    background-color: #101010
    border-radius: 40px 40px 0 0
    &--container
        max-width: 1153px
        margin: -40px auto
        padding: 120px 20px 0px 20px
        @media (max-width: 768px)
            padding: 80px 34px 48px 34px

        &__content
            h2

                color: #FFF
                font-size: 42px
                font-family: Milligram
                font-weight: 500
                line-height: 120%
                max-width: 543px
                margin: 0
                @media (max-width: 1160px)
                    max-width: 389px
                @media (max-width: 768px)
                    font-size: 36px
                    max-width: 312px

            &--img
                margin-top: 60px
                @media (max-width: 768px)
                    margin-top: 34px
                    overflow-x: auto
                    white-space: nowrap

                svg
                    width: 100%
                    @media (max-width: 768px)
                        width: auto
                        max-height: 677px
                        display: flex
                        flex-direction: row
