@use '../variables'
@use '../mixin'

.thirdBlockAbout
    background-color: variables.$bg-black
    &__loyaut
            max-width: 1153px
            margin: -20px auto 
            padding: 44px 20px 80px
            &--container
                border-radius: 20px
                background: variables.$bg-black-80
                padding: 57px 66px 0px 66px
                @media (max-width: 1160px)
                    padding: 46px 31px 0

                @media (max-width: 768px)
                    padding: 44px 28px 0 28px
                &__text 
                    display: flex
                    justify-content: space-between
                    align-items: center
                    @media (max-width: 1160px)
                    @media (max-width: 768px)
                        flex-direction: column
                        align-items: baseline
                        gap: 20px
                    h2 
                        color: variables.$font-white
                        @include mixin.label-S
                        max-width: 457px
                        margin: 0
                        @media (max-width: 1160px)
                            font-size: 24px
                            max-width: 268px
                        @media (max-width: 768px)
                            max-width: none
                    p 
                        color: variables.$font-black-30
                        @include mixin.text-M
                        max-width: 404px
                        @media (max-width: 1160px)
                            font-size: 14px
                            max-width: 227px
                        @media (max-width: 768px)
                             max-width: none
                             margin: 0
                             font-size: 12px
                             font-weight: 400
                        
                &__insideContainer 
                    border-radius: 20px 20px 0 0       
                    background: variables.$bg-black-80
                    margin-top:  65px
                    padding: 32px 50px 0
                    @media (max-width: 1160px)
                        margin-top: 41px
                        padding: 32px 38px 10px
                    @media (max-width: 768px)
                        margin-top: 0px
                        padding: 29px 0px 0 
                    &--topContainer 
                        display: flex
                        justify-content: space-between
                        align-items: center
                        @media (max-width: 1160px)
                        @media (max-width: 768px)
                            align-items: baseline
                            flex-direction: column
                            gap: 15px

                        &__left 
                            p.date 
                                color: variables.$font-black-50
                                @include mixin.text-M
                                margin: 0
                                margin-bottom: 12px
                                @media (max-width: 1160px)
                                @media (max-width: 768px)
                                    font-size: 9px
                                    margin-bottom: 6px
                            &--numbers 
                                display: flex
                                align-items: flex-end
                                gap: 13px
                                h3 
                                    color: variables.$font-white
                                    @include mixin.label-M
                                    margin: 0
                                    @media (max-width: 1160px)
                                    @media (max-width: 768px)
                                        font-size: 27px
                                &__procent 
                                    display: flex
                                    align-items: center
                                    border-radius: 4.734px
                                    background: variables.$font-black-60
                                    padding: 0 8px
                                    gap: 5px
                                    margin-bottom: 5px
                                    @media (max-width: 1160px)
                                    @media (max-width: 768px)
                                        padding: 0 4px
                                    img
                                        @media (max-width: 1160px)
                                        @media (max-width: 768px)
                                            max-width: 5px
                                    p.procent 
                                        color: variables.$font-green
                                        @include mixin.text-L
                                        margin: 0 
                                        @media (max-width: 1160px)
                                        @media (max-width: 768px)
                                            font-size: 10px
                        &__right 
                            display: flex
                            gap: 20px
                            .box
                                color: variables.$font-black-50
                                @include mixin.text-M
                                background: variables.$bg-black-70
                                border: 1px solid variables.$bg-black-70
                                border-radius: 50px
                                padding: 7px 10px    
                                @media (max-width: 1160px)
                                @media (max-width: 768px)
                                    font-size: 10px
                                    padding: 7px 13px
                    &--bottomContainer
                        margin-top: 30px
                        img
                            width: 100%
