.thirdBlockAbout
    background-color: #000
    &__loyaut
            max-width: 1153px
            margin: -20px auto 
            padding: 128px 20px 
            &--container
                border-radius: 20px
                background: #121212
                padding: 57px 66px 0px 66px

                @media (max-width: 768px)
                    padding: 94px 20px 0 20px
                &__text 
                    display: flex
                    justify-content: space-between
                    align-items: center
                    h2 
                        color: #FFF
                        font-size: 42px
                        font-family: Milligram
                        font-weight: 500
                        line-height: 120%
                        max-width: 457px
                        margin: 0
                        @media (max-width: 768px)
                            max-width: 304px
                            font-size: 36px

                    p 
                        color: #A0A0A0
                        font-size: 20px
                        font-family: Milligram
                        line-height: 150%
                        max-width: 404px
                        @media (max-width: 768px)
                            font-size: 18px
                        
                &__insideContainer 
                    border-radius: 20px 20px 0 0       
                    background: #141414
                    margin-top:  65px
                    adding: 32px 50px 0
                    &--topContainer 
                        display: flex
                        justify-content: space-between
                        align-items: center


                        &__left 
                            p.date 
                                color: #5B5B5B
                                font-size: 14.203px
                                font-family: Milligram
                                font-style: normal
                                font-weight: 400
                                line-height: 150%
                                margin: 0
                            &--numbers 
                                display: flex
                                align-items: flex-end
                                gap: 13px
                                h3 
                                    color: #FFF
                                    font-size: 44.977px
                                    font-family: Milligram
                                    font-style: normal
                                    font-weight: 400
                                    line-height: 100%
                                    margin: 0
                                &__procent 
                                    display: flex
                                    align-items: center
                                    border-radius: 4.734px
                                    background: #222
                                    padding: 0 8px
                                    gap: 5px
                                    margin-bottom: 5px
                                    img
                                    p.procent 
                                        color: #04FF87
                                        font-size: 16.57px
                                        font-family: Milligram
                                        font-style: normal
                                        font-weight: 400
                                        line-height: 150%
                                        margin: 0 
                        &__right 
                            display: flex
                            gap: 20px
                            .box
                                color: #5B5B5B
                                font-size: 14.203px
                                font-family: Milligram
                                font-style: normal
                                font-weight: 400
                                line-height: 150%
                                background: #1E1E1E
                                border: 1px solid #1E1E1E
                                border-radius: 50px
                                padding: 7px 10px    
                    &--bottomContainer
                        margin-top: 30px
                        img
                            width: 100%