.whiteBlock
    background: #fff
    border-radius: 30px
    margin-bottom: 150px
    &--howItWork
        &__container
            &--header
                padding: 100px 0 40px
                @media (max-width: 1160px)
                    padding: 62px 0 86px
                @media (max-width: 768px)
                    padding: 56px 0 40px
                h2
                    text-align: center
                    font-family: Milligram
                    color: #000
                    font-size: 42px
                    font-style: normal
                    font-weight: 500
                    line-height: 130%
                    margin: 0
                    @media (max-width: 1160px)
                        font-size: 33px
                    @media (max-width: 768px)
            &--slider
                border-radius: 20px
                border: 1px solid  #CFCFCF
                max-width: 1160px
                margin: auto
                padding-top: 38px
                @media (max-width: 1160px)
                    padding: 22px 20px
                    margin: 22px 20px
                @media (max-width: 768px)
                    border: none
                    margin: 0

                &__tabs
                    display: flex
                    justify-content: center
                    background: #F9F9F9
                    border-radius: 11px
                    padding: 6px
                    justify-content: space-between
                    margin: auto
                    gap: 6px
                    margin: 0 48px 38px
                    @media (max-width: 1160px)
                        margin: 0
                    @media (max-width: 768px)
                        display: grid
                        grid-template-columns: 1fr 1fr
                        padding: 11px
                    .active
                        background: #000
                        a
                            color: #fff
                    &--item
                        padding: 24px 51px
                        cursor: pointer
                        background: #fff
                        border-radius: 7px
                        width: 100%
                        text-align: center
                        @media (max-width: 1160px)
                        @media (max-width: 768px)
                            width: auto
                        a
                            color: #ADADAD
                            text-align: center
                            font-family: Milligram
                            font-size: 16px
                            font-style: normal
                            font-weight: 500
                            line-height: 122%

                &__display
                    padding: 80px
                    border-top: 1px solid #CFCFCF
                    margin-top: 22px
                    @media (max-width: 1160px)
                        padding: 30px 37px
                    @media (max-width: 768px)
                        border-top: none
                        padding: 0
                    &--item
                        &__container
                            display: flex
                            gap: 56px
                            @media (max-width: 1160px)
                                flex-direction: column
                            @media (max-width: 768px)

                            &--left
                                display: grid
                                gap: 25px
                                p
                                    color: #000
                                    font-family: Milligram
                                    font-size: 16px
                                    font-style: normal
                                    font-weight: 400
                                    line-height: 160%
                                    margin: 0
                                    max-width: 370px
                                    @media (max-width: 1160px)
                                        max-width: 501px
                                    @media (max-width: 768px)
                                h4
                                    color: #000
                                    font-family: Milligram
                                    font-size: 28px
                                    font-style: normal
                                    font-weight: 500
                                    line-height: 140%
                                    margin: 0
                                    max-width: 400px
                                    @media (max-width: 1160px)
                                        max-width: 640px
                                    @media (max-width: 768px)
                            &--rigth
                                img.mobile
                                    max-width: 602px
                                    @media (max-width: 1160px)
                                        max-width: 100%
                                    @media (max-width: 768px)
                                        display: none
                                img.mobileMobile
                                    display: none
                                    @media (max-width: 768px)
                                        display: block
                                        width: 100%

    &--banner
        &__container
            max-width: 1160px
            margin: 10px auto
            img
                width: 100%
            @media (max-width: 1160px)
                display: none
        &__containerMobile
            margin: 0 24px
            img
                width: 100%
                display: none
                @media (max-width: 1160px)
                    display: block
                @media (max-width: 768px)
    &--sleekIntuitive
        &__container
            &--hedaer
                display: grid
                gap: 19px
                margin-top: 120px
                margin-bottom: 75px
                h2
                    color: #000
                    text-align: center
                    font-family: Milligram
                    font-size: 42px
                    font-style: normal
                    font-weight: 500
                    line-height: 130%
                    max-width: 410px
                    margin: 0 auto
                p
                    color: #5F5F5F
                    text-align: center
                    font-family: Milligram
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: 150%
                    max-width: 590px
                    margin: 0 auto

            &--img
                display: flex
                justify-content: center
                @media (max-width: 1160px)
                    margin: 0 20px
                @media (max-width: 768px)
                img
                    width: 100%
