@use '../variables'
@use '../mixin'

.whiteBlock
    background: variables.$bg-white
    border-radius: 30px
    margin-bottom: 80px
    &--howItWork
        &__container
            &--header
                padding: 100px 0 40px
                @media (max-width: 1160px)
                    padding: 62px 0 86px
                @media (max-width: 768px)
                    padding: 25px 0 0px
                h2
                    text-align: center
                    font-family: Milligram
                    color: variables.$font-black
                    @include mixin.label-M
                    margin: 0
                    @media (max-width: 1160px)
                        font-size: 33px
                    @media (max-width: 768px)
            &--slider
                border-radius: 20px
                border: 1px solid variables.$bg-black-20
                max-width: 1160px
                margin: auto
                padding-top: 38px
                @media (max-width: 1160px)
                    padding: 22px 20px
                    margin: 22px 20px
                @media (max-width: 768px)
                    border: none
                    margin: 0

                &__tabs
                    display: flex
                    justify-content: center
                    background: variables.$bg-black-10
                    border-radius: 11px
                    padding: 6px
                    justify-content: space-between
                    margin: auto
                    gap: 6px
                    margin: 0 48px 38px
                    @media (max-width: 1160px)
                        margin: 0
                    @media (max-width: 768px)
                        display: grid
                        grid-template-columns: 1fr 1fr
                        padding: 11px
                        background: #F4F4F4
                    .active
                        background: variables.$bg-black
                        &:hover
                            a
                                color: variables.$font-white
                                transform: 0.3s
                        a
                            color: variables.$font-white

                    &--item
                        padding: 24px 30px
                        cursor: pointer
                        background: variables.$bg-white
                        border-radius: 7px
                        width: 100%
                        text-align: center
                        display: flex
                        align-items: center
                        justify-content: center
                        &:hover
                            a
                                color: variables.$font-black
                                transform: 0.3s
                        &:focus
                            a
                                color: variables.$font-white

                        @media (max-width: 1160px)
                        @media (max-width: 768px)
                            width: auto
                            padding: 14px 21px
                        a
                            color: variables.$font-black-30
                            text-align: center
                            @include mixin.text-L
                            @media (max-width: 768px)
                                font-size: 16px
                                line-height: 150%
                            // &:hover
                            //     color: #000
                            //     transform: 0.3s
                            // &:focus
                            //     color: #fff

                &__display
                    padding: 80px
                    border-top: 1px solid variables.$bg-black-20
                    margin-top: 20px
                    @media (max-width: 1160px)
                        padding: 30px 37px
                    @media (max-width: 768px)
                        border-top: none
                        padding: 0
                    &--item
                        &__container
                            display: flex
                            gap: 56px
                            @media (max-width: 1160px)
                                flex-direction: column
                            @media (max-width: 768px)
                                gap: 20px
                            &--left
                                display: grid
                                gap: 20px
                                p
                                    color: variables.$bg-black
                                    @include mixin.text-L
                                    font-weight: 400
                                    margin: 0
                                    max-width: 370px
                                    @media (max-width: 1160px)
                                        max-width: 501px
                                    @media (max-width: 768px)
                                        font-size: 14px
                                        font-weight: 400
                                h4
                                    color: variables.$font-black
                                    @include mixin.label-XS
                                    margin: 0
                                    max-width: 400px
                                    @media (max-width: 1160px)
                                        max-width: 640px
                                    @media (max-width: 768px)
                                        font-size: 17px
                            &--rigth
                                img.mobile
                                    max-width: 602px
                                    @media (max-width: 1160px)
                                        max-width: 100%
                                    @media (max-width: 768px)
                                        display: none
                                img.mobileMobile
                                    display: none
                                    @media (max-width: 768px)
                                        display: block
                                        width: 100%

    &--banner
        &__container
            max-width: 1160px
            margin: 10px auto
            img
                width: 100%
            @media (max-width: 1160px)
                display: none
        &__containerMobile
            margin: 0 24px
            img
                width: 100%
                display: none
                @media (max-width: 1160px)
                    display: block
                @media (max-width: 768px)
    &--sleekIntuitive
        &__container
            &--hedaer
                display: grid
                gap: 19px
                margin-top: 120px
                margin-bottom: 75px
                @media (max-width: 768px)
                    gap: 8px
                    padding: 0 20px
                    max-width: 296px
                    margin: 60px auto 45px
                h2
                    color: variables.$font-black
                    text-align: center
                    @include mixin.label-M
                    max-width: 410px
                    margin: 0 auto
                p
                    color: variables.$font-black-50
                    text-align: center
                    @include mixin.text-L
                    font-weight: 400
                    max-width: 590px
                    margin: 0 auto
                    @media (max-width: 768px)
                        font-size: 12px

            &--img
                display: flex
                justify-content: center
                @media (max-width: 1160px)
                    margin: 0 20px
                @media (max-width: 768px)
                img.displayChartsImg
                    max-width: 90%
                    @media (max-width: 768px)
                        display: none
                img.displayChartsImgMobile
                    width: 100%
                    display: none
                    margin-bottom: -3px
                    @media (max-width: 768px)
                        display: block
